# Combine data to investigate a hypothesis

This week we are going to investigate the health risks value of towns. We would like to compare towns that have the most highest temperature with other towns in the Unitied States. The hypothesis is that the health risk value is less for towns with higher temperature compared to ordinary towns. In particular the risk related to 'Adult Binge Drinking'. For this we need two datasets. The dataset of hottest towns and the dataset of USHealth_data.csv. The end goal is to run a hypothesis test of towns in the category 'hot town' compared to 'not hot town'. Before we can do such we first need to clean, organize and merge the data. The column 'Value' for instance contains not all float type data.

## Step 1 Fetch and clean hottest towns data
Fetch from "data/hottest_towns.txt" a list of hottest towns. The data needs to be put in a DataFrame. The format of the DataFrame should be: 	

    day 	City 	 State
    107 	Phoenix   Arizona
     70     Las Vegas Nevada

This means that some columns need to be splitted, some rows need to be skipped and some columns need to be renamed.
source: https://currentresults.com/Weather-Extremes/US/hottest-cities.php

In [15]:
def answer_one():
    pass
    
df = answer_one()

df

              City  days         State
0           Austin    16        Texas
1           Dallas    17        Texas
2          Houston     4        Texas
3      Kansas City     3     Missouri
4        Las Vegas    70       Nevada
5    Oklahoma City    11     Oklahoma
6          Phoenix   107      Arizona
7        Riverside    24   California
8       Sacramento    11   California
9   Salt Lake City     5         Utah
10     San Antonio     8        Texas

In [16]:
x = df['City'].unique().tolist()
x

['Austin',
 'Dallas',
 'Houston',
 'Kansas City',
 'Las Vegas',
 'Oklahoma City',
 'Phoenix',
 'Riverside',
 'Sacramento',
 'Salt Lake City',
 'San Antonio']

## Step 2: fetch the health data

Download from https://bchi.bigcitieshealth.org/indicators/1892/searches/34591 the complete dataset. Split the Place column into a column "State" and a column "City". using the dictionary below.

In [25]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

Tip:  use the `map()` method of pandas (see an example below)

In [18]:
import pandas as pd
equiv = {'7001':'1', '8001':'2', '9001':'3'}
df = pd.DataFrame( {"A": ['7001', '8001', '9001']} )
df["B"] = df["A"].map(equiv)
print(df)

      A  B
0  7001  1
1  8001  2
2  9001  3

In [ ]:
def answer_two():
    pass

answer_two()

## Step3: Merge both datasets. 
First check if all the names in the City and State are the same as in the hottest town list. There are some issues. Las Vegas in hootest twon differs from Las Vegas in the health database for instance. 

Hint: with `df['City'].unique().tolist()` you can create a list of all the City's. With regex and replace you can rename the content. 

Then join the datasets on City and State. Drop all the rows from that have NaN in the 'Value' column.

In [ ]:
def answer_three():
    pass

answer_three()

## Step4: Create a dataset without the hottest towns

Now we need to create the second dataset without the hottest towns. Read the https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.where.html documentation to get some ideas how to do such.

In [ ]:
def answer_four():
    pass

answer_four()

## Step5: Run the hypothesis-test: 

#### Check for normality
Before you conduct a hypothesis test to test for mean difference you need to consider a few things. Is the data normal distributed? Plot the data and run some statistical tests to investigate this. If not what is causing skews or outliers? Dive into you data to understand the distribution. Is additional cleaning needed? 

#### Check for equal variance
The next thing you need to consider is the variance. Is the variance equal or not? Plot data and run some statistical test to investigate this. 

#### Hypothesis test
Use an appropiate hypothesis test to test for difference of Value. 


First run the hypothesis test for the complete dataset. Afterwards repeat the test with a subset of the dataset: the Adult Binge Drinking.

In [1]:
def answer_test():
    pass

answer_test()

## Challenge

Review the complete dataset. Formulate yourself a research question. Can you use the data to find a relation?