# Cleaning data and handle Missing values

First we import a dataset into a pandas dataframe

In [1]:
import pandas as pd
import numpy as np
df=pd.read_table('data/JamesBondGlucoseLevels25.txt')
df.head(5)

,ID,Time,Type,hist.glucose.mg.dL.,Scan.glucose.mg.dL.,Not.numeric.fast.insuline,fast.insuline.unit.,Non.numeric.food,carbonhydrates.gram.,Non.numeric.long.insuline,long.insuline.unit.,Remarks,Strip.glucose.mg.dL.,Keton.mmol.L.,meal.insuline.unit.,Correctioninsuline.unit.,userchange.insuline.unit.,previous.time,adjusted.time
561,2845,2019-04-25 00:08,1,NaN,109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
562,2850,2019-04-25 00:50,1,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
563,2877,2019-04-25 07:02,1,NaN,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
564,2881,2019-04-25 07:34,1,NaN,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565,2886,2019-04-25 08:19,1,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Let us change the index, since 'Time' makes more sense to use as an index

In [13]:
df=df.set_index('Time')
df.head(5)

,ID,Type,hist.glucose.mg.dL.,Scan.glucose.mg.dL.,Not.numeric.fast.insuline,fast.insuline.unit.,Non.numeric.food,carbonhydrates.gram.,Non.numeric.long.insuline,long.insuline.unit.,Remarks,Strip.glucose.mg.dL.,Keton.mmol.L.,meal.insuline.unit.,Correctioninsuline.unit.,userchange.insuline.unit.,previous.time,adjusted.time
Time,,,,,,,,,,,,,,,,,,
2019-04-25 00:08,2845,1,NaN,109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-04-25 00:50,2850,1,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-04-25 07:02,2877,1,NaN,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-04-25 07:34,2881,1,NaN,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-04-25 08:19,2886,1,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now we clean the data by rename some collumns, and select only the needed information. I choose to fill the empty spaces with `np.nan` for further processing

    .replace(r'\s+', np.nan, regex=True)

In [14]:
def reformat():
    df=pd.read_table('data/JamesBondGlucoseLevels25.txt')
    df=df.set_index('Time')
    df = df.rename(columns = {
                         'hist.glucose.mg.dL.':'glucose.hist',
                         'Scan.glucose.mg.dL.':'glucose.scan',
                         'previous.time':'time.previous',
                         'adjusted.time':'time.new'})
    columns_to_keep = [
                   'Type',
                   'glucose.hist',
                   'glucose.scan',
                   'time.previous',
                   'time.new']
    df = df[columns_to_keep].replace(r'\s+', np.nan, regex=True) 
    return df

df = reformat()
df.head(5)

                  Type  glucose.hist glucose.scan  time.previous  time.new
Time
2019-04-25 00:08     1           NaN          109            NaN       NaN
2019-04-25 00:50     1           NaN          NaN            NaN       NaN
2019-04-25 07:02     1           NaN          123            NaN       NaN
2019-04-25 07:34     1           NaN          158            NaN       NaN
2019-04-25 08:19     1           NaN          NaN            NaN       NaN

## automatically fill missing values
One of the handy functions that Pandas has for working with missing values is the filling function, `fillna`. This function takes a number or parameters, for instance, you could pass in a single value which is called a scalar value to change all of the missing data to one value.

In [6]:
df.fillna?

In [15]:
df = df.sort_index()
df.head(5)

                  Type  glucose.hist glucose.scan  time.previous  time.new
Time
2019-04-25 00:08     1           NaN          109            NaN       NaN
2019-04-25 00:14     0          93.0          NaN            NaN       NaN
2019-04-25 00:29     0          95.0          NaN            NaN       NaN
2019-04-25 00:44     0         103.0          NaN            NaN       NaN
2019-04-25 00:50     1           NaN          NaN            NaN       NaN

## fill by method parameters

The two common fill values are `ffill` and `bfill`. ffill is for forward filling and it updates an na value for a particular cell with the value from the previous row. It's important to note that your data needs to be sorted in order for this to have the effect you might want. Data that comes from traditional database management systems usually has no order guarantee, So be careful. First sort the data

In [16]:
df = df.fillna(method='ffill')
df.head(5)

                  Type  glucose.hist glucose.scan  time.previous  time.new
Time
2019-04-25 00:08     1           NaN          109            NaN       NaN
2019-04-25 00:14     0          93.0          109            NaN       NaN
2019-04-25 00:29     0          95.0          109            NaN       NaN
2019-04-25 00:44     0         103.0          109            NaN       NaN
2019-04-25 00:50     1         103.0          109            NaN       NaN

In [17]:
df = df.fillna(method='bfill')
df.head(5)

                  Type  glucose.hist glucose.scan  time.previous  time.new
Time
2019-04-25 00:08     1          93.0          109            NaN       NaN
2019-04-25 00:14     0          93.0          109            NaN       NaN
2019-04-25 00:29     0          95.0          109            NaN       NaN
2019-04-25 00:44     0         103.0          109            NaN       NaN
2019-04-25 00:50     1         103.0          109            NaN       NaN

## filling with calculated data

In the example above we filled the data with previous of following data. This might be handy in the case of few missing data. Another strategy might be to fill the missing data with calculated data (average). You could use `np.mean` for instance. This can be done easily since when you use statistical functions on DataFrames, these functions typically ignore missing values. For instance if you try and calculate the mean value of a DataFrame, the underlying NumPy function will ignore missing values. This is usually what you want but you should be aware that values are being excluded

In [18]:
df = reformat()

df.sort_index()
df.head(5)

                  Type  glucose.hist glucose.scan  time.previous  time.new
Time
2019-04-25 00:08     1           NaN          109            NaN       NaN
2019-04-25 00:50     1           NaN          NaN            NaN       NaN
2019-04-25 07:02     1           NaN          123            NaN       NaN
2019-04-25 07:34     1           NaN          158            NaN       NaN
2019-04-25 08:19     1           NaN          NaN            NaN       NaN

First I have to check if my data is numeric

In [19]:
print(df.dtypes)

Type               int64
glucose.hist     float64
glucose.scan      object
time.previous    float64
time.new         float64
dtype: object

glucose.scan is not so we have to change this

In [20]:
df["glucose.scan"] = pd.to_numeric(df["glucose.scan"])
print(df.dtypes)
df.head(5)

Type               int64
glucose.hist     float64
glucose.scan     float64
time.previous    float64
time.new         float64
dtype: object

                  Type  glucose.hist  glucose.scan  time.previous  time.new
Time
2019-04-25 00:08     1           NaN         109.0            NaN       NaN
2019-04-25 00:50     1           NaN           NaN            NaN       NaN
2019-04-25 07:02     1           NaN         123.0            NaN       NaN
2019-04-25 07:34     1           NaN         158.0            NaN       NaN
2019-04-25 08:19     1           NaN           NaN            NaN       NaN

Now we can calculate means and fill the empty data with means

In [21]:
df = df.fillna(df.mean())
#give them nice format
df[['glucose.scan','glucose.hist']]= df[['glucose.scan','glucose.hist']].astype(int)
df.head(5)

                  Type  glucose.hist  glucose.scan  time.previous  time.new
Time
2019-04-25 00:08     1           115           109            NaN       NaN
2019-04-25 00:50     1           115           123            NaN       NaN
2019-04-25 07:02     1           115           123            NaN       NaN
2019-04-25 07:34     1           115           158            NaN       NaN
2019-04-25 08:19     1           115           123            NaN       NaN

## add columns and modifying columns by splitting columns

Suppose we want to group by date. Then we first have to split the column Tijd to Day & Time

In [22]:
df = reformat()
df = df.reset_index()
df.head(5)

               Time  Type  glucose.hist glucose.scan  time.previous  time.new
0  2019-04-25 00:08     1           NaN          109            NaN       NaN
1  2019-04-25 00:50     1           NaN          NaN            NaN       NaN
2  2019-04-25 07:02     1           NaN          123            NaN       NaN
3  2019-04-25 07:34     1           NaN          158            NaN       NaN
4  2019-04-25 08:19     1           NaN          NaN            NaN       NaN

In [23]:
print(df.dtypes)

Time              object
Type               int64
glucose.hist     float64
glucose.scan      object
time.previous    float64
time.new         float64
dtype: object

In [24]:
df[['Time']]= df[['Time']].astype(str)
df['Day'], df['Time'] = df['Time'].str.split(' ', 1).str
df.head()

    Time  Type  glucose.hist glucose.scan  time.previous  time.new         Day
0  00:08     1           NaN          109            NaN       NaN  2019-04-25
1  00:50     1           NaN          NaN            NaN       NaN  2019-04-25
2  07:02     1           NaN          123            NaN       NaN  2019-04-25
3  07:34     1           NaN          158            NaN       NaN  2019-04-25
4  08:19     1           NaN          NaN            NaN       NaN  2019-04-25

In [25]:
df["glucose.scan"] = pd.to_numeric(df["glucose.scan"])
df = df.fillna(df.mean())
df.head(5)

,Time,Type,glucose.hist,glucose.scan,time.previous,time.new,Day
0,00:08,1,115.560976,109.000000,NaN,NaN,2019-04-25
1,00:50,1,115.560976,123.403846,NaN,NaN,2019-04-25
2,07:02,1,115.560976,123.000000,NaN,NaN,2019-04-25
3,07:34,1,115.560976,158.000000,NaN,NaN,2019-04-25
4,08:19,1,115.560976,123.403846,NaN,NaN,2019-04-25

In [26]:
dmin = df[(df['Type'] == 1)].groupby('Day').aggregate({'glucose.scan':np.min})
dmin

            glucose.scan
Day
2019-04-25          86.0

In [27]:
dmax = df[(df['Type'] == 1)].groupby('Day').aggregate({'glucose.scan':np.max})

In [21]:
dmax

            glucose.scan
Day
2019-04-25         184.0

## Cleaning typo's

Suppose we want to sum the data in the right_value column. We could use a sum, but we will get an type error, since '53,2' is a string. We cannot simply transfer the data to a float. We need first to set the column as a string type,  replace the ',' by a '.' (in this case done by a regex) and then transfer the column to float type

In [28]:
df

,Time,Type,glucose.hist,glucose.scan,time.previous,time.new,Day
0,00:08,1,115.560976,109.000000,NaN,NaN,2019-04-25
1,00:50,1,115.560976,123.403846,NaN,NaN,2019-04-25
2,07:02,1,115.560976,123.000000,NaN,NaN,2019-04-25
3,07:34,1,115.560976,158.000000,NaN,NaN,2019-04-25
4,08:19,1,115.560976,123.403846,NaN,NaN,2019-04-25
...,...,...,...,...,...,...,...
131,22:47,0,108.000000,123.403846,NaN,NaN,2019-04-25
132,23:02,0,123.000000,123.403846,NaN,NaN,2019-04-25
133,23:18,0,109.000000,123.403846,NaN,NaN,2019-04-25
134,23:33,0,108.000000,123.403846,NaN,NaN,2019-04-25
135,23:48,0,110.000000,123.403846,NaN,NaN,2019-04-25

## Cleaning data example

Review the data below:

In [31]:
df = pd.read_excel('data/Energy Indicators.xls') # source: http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls
df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Environmental Indicators: Energy,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,Last update: December 2015
5,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Choose a country from the following drop-down ...,NaN,NaN,Andorra
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,Country,Energy Supply,Energy Supply per capita,Renewable Electricity Production
9,NaN,NaN,NaN,Petajoules,Gigajoules,%
10,NaN,NaN,Andorra,9,121,88.6957
11,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,website: http://unstats.un.org/unsd/ENVIRONMEN...
13,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,Energy Supply,Energy Supply per capita,Renewable Electricity Production
16,NaN,NaN,NaN,Petajoules,Gigajoules,%
17,NaN,Afghanistan,Afghanistan,321,10,78.6693
18,NaN,Albania,Albania,102,35,100
19,NaN,Algeria,Algeria,1959,51,0.55101

In the example above we can see that data of the file 'Energy indicators' need to be cleaned. The first two columns do not have added value, they can be removed. The column labels need to be replaced. The first 15 rows are headers basically, we can skip these. The `Energy Supply` column is convert to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") we need to fill that with `np.NaN` values. Lastly some of the country names are renamed for merge purpose (source: University of Michigan)

In [36]:
def clean_energy_data():
    import pandas as pd
    import numpy as np

    # Clean energy 
    energy = (pd.read_excel('data/Energy Indicators.xls') # load Energy Indicator excelsheet into dataframe
                    .iloc[17:243].drop(['Unnamed: 0', 'Unnamed: 1'], axis=1) #drop first 16 rows
                    .rename(columns = {
                         'Unnamed: 2':'Country',
                         'Unnamed: 3':'Energy Supply',
                         'Unnamed: 4':'Energy Supply per Capita',
                         'Unnamed: 5':'% Renewable'})
                    .replace(to_replace='...', value=np.NaN)) #convert '...' to np.NaN

    energy['Energy Supply']*= 1000000 #Convert Energy Supply to gigajoules 
    energy['Country'] = (energy['Country'].str.replace(r"Republic of Korea","South Korea")
                                          .str.replace(r"United States of America","United States")
                                          .str.replace(r"United Kingdom of Great Britain and Northern Ireland", "United Kingdom")
                                          .str.replace(r"China, Hong Kong Special Administrative Region", "Hong Kong")
                                          .str.replace(r"\s\([a-zA-Z\s]+\)", "") # remove parenthesis from countrynames
                                          .str.replace(r"[0-9]+", ""))# remove numbers from countryname

    return energy


df_energy = clean_energy_data()
df_energy.head()

           Country  Energy Supply  Energy Supply per Capita  % Renewable
17     Afghanistan   3.210000e+08                      10.0    78.669280
18         Albania   1.020000e+08                      35.0   100.000000
19         Algeria   1.959000e+09                      51.0     0.551010
20  American Samoa            NaN                       NaN     0.641026
21         Andorra   9.000000e+06                     121.0    88.695650